@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img{
    max-width: 100%;
  }
  
  body{
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background-color: #202d36;
    color:white;
  }
  
  

  .image-effect{
    color: #fff;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-image: url("https://www.thesportsdb.com/images/media/team/stadium/w1anwa1588432105.jpg");
    height: 350px;
    width: 100%;
  }

  .logo{
    border-radius: 5px 5px 0 0;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 5%;
  }

  .box{
      width: 38%;
      height: 250px;
      background: #2b3743;
      margin: 20px auto;
      display: inline-block;
  }

  .box h3{
      text-align: center;
      padding-top:10px;
      margin-top:10px;
      font-size: 25px;
  }

  .box h6{
      text-align: center;
      font-size: 14px;
      padding-top: 12px;
      margin-top: 10px;
      color:gainsboro;
  }

  .extra-part{
      width:100%;
      display: flex;
  }

  .img2{
      height: 250px;
      width: 562px;
  }

  @media screen and (max-width:1200px){
    .box{
        width: 100%;
        height: 250px;
        background: #2b3743;
        margin: 20px auto;
    } 
  }
  .details-here{
      font-size:15px;
      background-color: #2b3743;
      margin-top: 15px;
      border-radius: 10px 10px 10px 10px;
      text-justify: left;
      padding-top: 5px;
      color:white;
  }

  footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p{
    font-family: calibari;
}

.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons{
    display: flex;
}
.social-icons i{
    color: #000000;
}


